@font-face {
  font-family: 'Gilroy-Bold';
  src: url("./Font/Gilroy-Bold.woff2");
}
  
@font-face {
  font-family: 'Gilroy-Medium';
  src: url("./Font/Gilroy-Medium.woff2");
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("./Font/Gilroy-Semibold.woff2");
}


* {
	padding: 0;
	/* margin: 0; */
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #ffffff;
}

img {
	display: block;
	max-width: 100%;
}


.links{
  display: flex;
  justify-content: space-between;
  width: 533px;
}

header{
  margin-bottom: 84px;
  margin-top: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1, button, .content1{
  font-family: 'Gilroy-Bold';
}

main{
  margin-bottom: 53px;
}


.content{
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}


.content1{
  font-size: 15px;
  line-height: 18px;
  color: #AAAAAA;
}

.btn{
  padding: 15.5px 35.5px;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
  background: #F25822;
  border-radius: 50px;
  border: none
  
}

.btn1{
  background: #FFFFFF;
  border: none
}

.iskluch{
  font-family: 'Gilroy-Medium';
font-size: 20px;
line-height: 23px;
color: #888888;
}


.container{
  width: 1170px;
  margin: 0 auto;
}


.logos{
  display: flex;
  justify-content: space-between;
}

.article {
  
}

.content_wrapper{
  display: flex;
  gap: 40.94px;
}

.btns-list{
  display: flex;
  gap: 43px;
}


/* .content .iskluch {
  font-size: 20px;
  line-height: 23px;
  width: 466px;
  margin-bottom: 37px;
  } */


  .container1{
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 37px;
  }


  .content_wrapper p{
    font-size: 20px;
  line-height: 23px;
  width: 466px;
  margin-bottom: 37px;
  }


.container1 img{
  margin-top: 259.45px;
}


.type1 {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 16px;
  color: #F25822;
}


.type2 {
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}



























